<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="touristAttaktioner.css">
    <title>Tourist guide</title>
</head>

<body>

<header class="Overskrift">
    <h1>
        Welcome to Danish tourist guide attractions
    </h1>
</header>


<div class="menu-box">
    <nav>
        <ul>
            <li><a href="http://localhost:63342/TouristGuideAPI1/src/main/resources/static/touristAttraktioner.html?_ijt=5222scelh5cub5akiul08jondh&_ij_reload=RELOAD_ON_SAVE">Home</a></li>
            <li><a href="http://localhost:8081/attractions/alle">See Attractions</a></li>
            <li><a href="">Attraction History</a></li>
            <li><a href="">About us</a></li>
        </ul>
    </nav>
</div>


<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="video-container">
            <img src="https://bt.bmcdn.dk/media/cache/resolve/image_1240/image/5/57521/10750090-copenhagen-denmark.jpg">
            <!-- <video autoplay loop muted class="KBH">
                 <source src="København.mp4" type="video/mp4">
             </video> -->
        </div>
    </div>

</body>
</html>