<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/home.css">
    <title>Wishlist</title>
</head>
<body>

<div class="header">
    <h1>Velkommen til din digitale ønskeside</h1>
</div>

<div class="menu-box">
    <nav>
        <ul>
            <li><a href="/login">Log ind</a></li>
            <li><a href="/register">Opret konto</a></li>
        </ul>
    </nav>
</div>

<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="video-container">
            <img src="https://media.istockphoto.com/id/1305295981/photo/black-gift-box-on-dark-background.jpg?s=612x612&w=0&k=20&c=ctZ6QUeFlj2kaTZ69mwjm1g3N9otvJSaAFBE7wVynII=">
            <div class="image-text">Lav din perfekte ønskeliste! Find dine yndlings produkter og del dem med med venner og familie.</div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="contact-info">
        <h2>Kontakt</h2>
        <p>Adresse: 123 Main Street, København, Danmark</p>
        <p>Telefon: 25 25 25 25</p>
        <p>Email: Baz.info@hotmail.com</p>
    </div>
</footer>

</body>
</html>
